In [12]:
# Q1 create of variable containing string,list,float and typle date type ?
var1 = "this is my first assisment "
var2 = ["name " ,23,32, 43.2,23+3j]
var3 = 34.43
var4 = (23,43,34)
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [18]:
# Q2 Data type of given variable containing data ? 
var_1 =''
var_2 = '[ds,ml , python]'
var_3 = [ 'ds','ml' , 'python']
var_4 = 1.
print(type(var_1))
print(type(var_2))
print(type(var_3))
print(type(var_4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [20]:
# Q3 Use of following operator /, %, // and ** ?
5/2 # / this is divide operator use for divide

2.5

In [22]:
5%2 # % this is modulus operator use to print remainder

1

In [24]:
5//2 # // this operator only show quotient doesn't show remainder

2

In [26]:
2**4 # ** this is power operator .

16

In [25]:
# Q4 Creating a list of multiple types of data. Using for loop print the element and its date type ?
list = [1,23,"address","name",34.43,34+5j,34,'792384748',"pwskill","id"]
for i in list:
    print(i ,type(i))

1 <class 'int'>
23 <class 'int'>
address <class 'str'>
name <class 'str'>
34.43 <class 'float'>
(34+5j) <class 'complex'>
34 <class 'int'>
792384748 <class 'str'>
pwskill <class 'str'>
id <class 'str'>

In [1]:
# Q5 Using a while loop varify the number a is purely divisible by number i and if so then how many times it can be divisible.
a = int(input("Divident = ")) 
i = int(input("Divisor = ")) 
while i<=a:
    if a%i==0:
        print(" number is purely divided by = ",i)
        b = a//i
        print("how many times it can be divisible =",b)
        break;
    else:
        print("number is not completely divided")
        break;

Divident =  5
Divisor =  2

number is not completely divided

In [26]:
# Q6 Create a list containing 25 int type data. Using for loop and if else condition print if the element is divisible by 3 or not.
list2 = [23,43,53,53,12,53,63,43,53,23,63,64,64,34,63,64,78,89,75,634,345,4,543,64,34]
li = len(list2)
print("number of elements in list = ",li)
for i in list2:
    if i%3==0:
        print(i,"is divisible by 3")
        continue;
    else: 
        print(i," is not divisible by 3")

number of elements in list =  25
23  is not divisible by 3
43  is not divisible by 3
53  is not divisible by 3
53  is not divisible by 3
12 is divisible by 3
53  is not divisible by 3
63 is divisible by 3
43  is not divisible by 3
53  is not divisible by 3
23  is not divisible by 3
63 is divisible by 3
64  is not divisible by 3
64  is not divisible by 3
34  is not divisible by 3
63 is divisible by 3
64  is not divisible by 3
78 is divisible by 3
89  is not divisible by 3
75 is divisible by 3
634  is not divisible by 3
345 is divisible by 3
4  is not divisible by 3
543 is divisible by 3
64  is not divisible by 3
34  is not divisible by 3

In [22]:
# Q7 what do you understand by mutable and immutable data types ? 
name = "sanju"
name[0] =" "

TypeError: 'str' object does not support item assignment

In [23]:
l = [ 23,343,24,34,"ram"]
print(l)

[23, 343, 24, 34, 'ram']

In [24]:
l[3] = "77572323737"
print(l)

[23, 343, 24, '77572323737', 'ram']

In [ ]:
#  We understand from our example we can assign a value in list but in string we are unable to assign value
# in string . Hence string is immutable and list is mutable